{#-
  inst vd, vs2, vs1, v0;
  whether having v0 mask depends on vvm/vv suffix

  eew(vs2, vs1) = sew, eew(vd) = 1, elmul(vd) = 1
-#}
{%- macro vmadc_vvm_body(name, op, has_vm) %}
{% if has_vm %}
{% set carry_expr = "VRF_MASK[0, idx]" %}
{% else %}
{% set carry_expr = "'0'" %}
{% endif %}
  if !isEnabled_VS() then
    return IllegalInstruction();
  end
  if VTYPE.ill then
    return IllegalInstruction();
  end
  if !IsZero(VSTART) then
    return IllegalInstruction();
  end

  let vd: VRegIdx = UInt(GetRD(instruction));
  let vs2: VRegIdx = UInt(GetRS2(instruction));
  let vs1: VRegIdx = UInt(GetRS1(instruction));
  let vm: bit = GetVM(instruction);

  let vl: integer = VL;
  let sew: integer{8, 16, 32, 64} = VTYPE.sew;
  let vreg_align: integer{1, 2, 4, 8} = getAlign(VTYPE);

  if vs2 MOD vreg_align != 0 then
    // vs2 is not aligned with elmul group
    return IllegalInstruction();
  end
  if vs1 MOD vreg_align != 0 then
    // vs2 is not aligned with elmul group
    return IllegalInstruction();
  end

  if vs1 < vd && vd < vs1 + vreg_align then
    // NOTE: vs1 == vd is a case of legal overlap
    // vd is illegally overlapped with vs1
    return IllegalInstruction();
  end
  if vs2 < vd && vd < vs2 + vreg_align then
    // NOTE: vs2 == vd is a case of legal overlap
    // vd is illegally overlapped with vs2
    return IllegalInstruction();
  end

  case sew of
    when 8 => begin
      for idx = 0 to vl - 1 do
        let src2: bits(8) = VRF_8[vs2, idx];
        let src1: bits(8) = VRF_8[vs1, idx];
        let carry: bit = {{ carry_expr }};
        let (_res: bits(8), carry_out: bit) = {{op}}(src2, src1, carry);
        VRF_MASK[vd, idx] = carry_out;
      end
    end

    when 16 => begin
      for idx = 0 to vl - 1 do
        let src2: bits(16) = VRF_16[vs2, idx];
        let src1: bits(16) = VRF_16[vs1, idx];
        let carry: bit = {{ carry_expr }};
        let (_res: bits(16), carry_out: bit) = {{op}}(src2, src1, carry);
        VRF_MASK[vd, idx] = carry_out;
      end
    end

    when 32 => begin
      for idx = 0 to vl - 1 do
        let src2: bits(32) = VRF_32[vs2, idx];
        let src1: bits(32) = VRF_32[vs1, idx];
        let carry: bit = {{ carry_expr }};
        let (_res: bits(32), carry_out: bit) = {{op}}(src2, src1, carry);
        VRF_MASK[vd, idx] = carry_out;
      end
    end

    when 64 => Todo("support sew=64");

    otherwise => Unreachable();
  end

  logWrite_VREG_1(vd);

  makeDirty_VS();
  clear_VSTART();
  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_VMADC_VVM(instruction: bits(32)) => Result
begin
{{- vmadc_vvm_body("vmadc_vvm", "riscv_carryAdd", has_vm=True) -}}
end

func Execute_VMADC_VV(instruction: bits(32)) => Result
begin
{{- vmadc_vvm_body("vmadc_vv", "riscv_carryAdd", has_vm=False) -}}
end

func Execute_VMSBC_VVM(instruction: bits(32)) => Result
begin
{{- vmadc_vvm_body("vmsbc_vvm", "riscv_borrowSub", has_vm=True) -}}
end

func Execute_VMSBC_VV(instruction: bits(32)) => Result
begin
{{- vmadc_vvm_body("vmadc_vv", "riscv_borrowSub", has_vm=False) -}}
end
