{#-
  vsext.vf2/vzext.vf2 vd, vs2, vm; vm mask is optional

  eew(vd) = sew, eew(vs2) = sew/2
-#}
{%- macro vext_vf2_body(name, extend) %}
  if !isEnabled_VS() then
    return IllegalInstruction();
  end
  if VTYPE.ill then
    return IllegalInstruction();
  end
  if !IsZero(VSTART) then
    return IllegalInstruction();
  end

  let vd: VRegIdx = UInt(GetRD(instruction));
  let vs2: VRegIdx = UInt(GetRS2(instruction));
  let vs1: VRegIdx = UInt(GetRS1(instruction));
  let vm: bit = GetVM(instruction);

  let vl: integer = VL;
  let sew: integer{8, 16, 32, 64} = VTYPE.sew;
  let vd_align: integer{1, 2, 4, 8} = getAlign(VTYPE);
  let vs2_align: integer{1, 2, 4, 8} = getAlignNarrow2(VTYPE);

  if sew < 16 then
    // sew/2 is too small
    return IllegalInstruction();
  end
  if vm == '0' && vd == 0 then
    // overlap with mask
    return IllegalInstruction();
  end
  if vd MOD vd_align != 0 then
    // vd is not aligned with 2*lmul group
    return IllegalInstruction();
  end
  if vs2 MOD vs2_align != 0 then
    // vs2 is not aligned with lmul group
    return IllegalInstruction();
  end

  if vd == vs2 then
    // vd is illegally overlapped with vs2
    // NOTE: when elmul(vs2)>=1, vs2 == vd + vs2_align is a case of legal overlap
    return IllegalInstruction();
  end

  case sew of
    when 16 => begin
      for idx = 0 to vl - 1 do
        if vm != '0' || V0_MASK[idx] then
          let src2 : bits(8) = VRF_8[vs2, idx];
          let res : bits(16) = {{extend}}(src2, 16);
          VRF_16[vd, idx] = res;
        end
      end
    end

    when 32 => begin
      for idx = 0 to vl - 1 do
        if vm != '0' || V0_MASK[idx] then
          let src2 : bits(16) = VRF_16[vs2, idx];
          let res : bits(32) = {{extend}}(src2, 32);
          VRF_32[vd, idx] = res;
        end
      end
    end

    when 64 => Todo("support sew=64");

    otherwise => Unreachable();
  end

  logWrite_VREG_elmul(vd, vd_align);

  makeDirty_VS();
  clear_VSTART();
  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_VSEXT_VF2(instruction: bits(32)) => Result
begin
{{- vext_vf2_body("vsext_vf2", "SignExtend") -}}
end

func Execute_VZEXT_VF2(instruction: bits(32)) => Result
begin
{{- vext_vf2_body("vzext_vf2", "ZeroExtend") -}}
end
