{#-
  inst vd, vs2, rs1, vm; vm mask is optional

  eew(vd, vs2) = sew, w(src1) = sew, src1 is sext/truncate from X[rs1]
  
  NOTE: this instruction uses VXRM.
  NOTE: this instruction does not touch VXSAT.

  NOTE: sign extension of X[rs1] only happens when XLEN=32 and sew=64

  NOTE: it computes vd[i] = op(vs2[i], vs1[i])
  the order of vs1/vs2 is swapped compared to ordinary riscv inst.
-#}
{%- macro vsop_novxrm_vx_body(name, op) %}
  if !isEnabled_VS() then
    return IllegalInstruction();
  end
  if VTYPE.ill then
    return IllegalInstruction();
  end
  if !IsZero(VSTART) then
    return IllegalInstruction();
  end

  let vd: VRegIdx = UInt(GetRD(instruction));
  let vs2: VRegIdx = UInt(GetRS2(instruction));
  let rs1: XRegIdx = UInt(GetRS1(instruction));
  let vm: bit = GetVM(instruction);

  let vl: integer = VL;
  let sew: integer{8, 16, 32, 64} = VTYPE.sew;
  let vreg_align: integer{1, 2, 4, 8} = getAlign(VTYPE);
  let vxrm: bits(2) = VXRM;

  if vm == '0' && vd == 0 then
    // overlap with mask
    return IllegalInstruction();
  end
  if vd MOD vreg_align != 0 then
    // vd is not aligned with lmul group
    return IllegalInstruction();
  end
  if vs2 MOD vreg_align != 0 then
    // vs2 is not aligned with elmul group
    return IllegalInstruction();
  end

  case sew of
    when 8 => begin
      let src1 : bits(8) = (X[rs1])[7:0];

      for idx = 0 to vl - 1 do
        if vm != '0' || V0_MASK[idx] then
          let src2 : bits(8) = VRF_8[vs2, idx];
          let res : bits(8) = {{op}}(src2, src1, vxrm);
          VRF_8[vd, idx] = res;
        end
      end
    end

    when 16 => begin
      let src1 : bits(16) = (X[rs1])[15:0];

      for idx = 0 to vl - 1 do
        if vm != '0' || V0_MASK[idx] then
          let src2 : bits(16) = VRF_16[vs2, idx];
          let res : bits(16) = {{op}}(src2, src1, vxrm);
          VRF_16[vd, idx] = res;
        end
      end
    end

    when 32 => begin
      let src1 : bits(32) = (X[rs1])[31:0];

      for idx = 0 to vl - 1 do
        if vm != '0' || V0_MASK[idx] then
          let src2 : bits(32) = VRF_32[vs2, idx];
          let res : bits(32) = {{op}}(src2, src1, vxrm);
          VRF_32[vd, idx] = res;
        end
      end
    end

    when 64 => Todo("support sew=64");

    otherwise => Unreachable();
  end

  logWrite_VREG_elmul(vd, vreg_align);

  makeDirty_VS();
  clear_VSTART();
  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_VAADD_VX(instruction: bits(32)) => Result
begin
{{- vsop_novxrm_vx_body("vaadd_vx", "riscv_averageAdd_s") -}}
end

func Execute_VAADDU_VX(instruction: bits(32)) => Result
begin
{{- vsop_novxrm_vx_body("vaaddu_vx", "riscv_averageAdd_u") -}}
end

func Execute_VASUB_VX(instruction: bits(32)) => Result
begin
{{- vsop_novxrm_vx_body("vasub_vx", "riscv_averageSub_s") -}}
end

func Execute_VASUBU_VX(instruction: bits(32)) => Result
begin
{{- vsop_novxrm_vx_body("vasubu_vx", "riscv_averageSub_u") -}}
end

func Execute_VSSRL_VX(instruction: bits(32)) => Result
begin
{{- vsop_novxrm_vx_body("vssrl_vx", "riscv_saturateSrl_var") -}}
end

func Execute_VSSRA_VX(instruction: bits(32)) => Result
begin
{{- vsop_novxrm_vx_body("vssra_vx", "riscv_saturateSra_var") -}}
end
