[submodule "dependencies/chisel"]
	path = dependencies/chisel
	url = git@github.com:chipsalliance/chisel.git
[submodule "dependencies/arithmetic"]
	path = dependencies/arithmetic
    url = git@github.com:midnighter95/arithmetic.git
    branch = rebase
[submodule "dependencies/tilelink"]
	path = dependencies/tilelink
	url = git@github.com:sequencer/tilelink.git
[submodule "dependencies/berkeley-hardfloat"]
	path = dependencies/berkeley-hardfloat
	url = git@github.com:sequencer/berkeley-hardfloat.git
[submodule "tests/codegen"]
	path = tests/codegen
	url = git@github.com:ksco/riscv-vector-tests.git
