out/
test_run_dir/
.bsp/
.idea/
.metals/
.vscode/
cmake-build-*
coverage.dat
**/node_modules/
**/_book/
.gdbinit
.bloop/
.ammonite
.cache
build
/result*
*/result*
__pycache__
/testrun
.direnv
.envrc
test-results
target
.ccls-cache
t1-sim-result/
