[submodule "dependencies/chisel"]
	path = dependencies/chisel
	url = git@github.com:chipsalliance/chisel.git
[submodule "dependencies/arithmetic"]
	path = dependencies/arithmetic
	url = git@github.com:sequencer/arithmetic.git
[submodule "dependencies/tilelink"]
	path = dependencies/tilelink
	url = git@github.com:sequencer/tilelink.git
[submodule "dependencies/berkeley-hardfloat"]
	path = dependencies/berkeley-hardfloat
	url = git@github.com:ucb-bar/berkeley-hardfloat.git
[submodule "tests/codegen"]
	path = tests/codegen
	url = git@github.com:ksco/riscv-vector-tests.git
[submodule "dependencies/rocket-chip"]
	path = dependencies/rocket-chip
	url = git@github.com:chipsalliance/rocket-chip.git
[submodule "dependencies/cde"]
	path = dependencies/cde
	url = git@github.com:chipsalliance/cde.git
[submodule "dependencies/rocket-chip-inclusive-cache"]
	path = dependencies/rocket-chip-inclusive-cache
	url = git@github.com:chipsalliance/rocket-chip-inclusive-cache.git
