{#- Require structure like:

```json
{
  exceptions: [
    { name: "illegal instruction", code: 2 }
  ]
}
```

#}
{%- for c in exceptions %}
{%- set cname = c.name | replace(" ", "_") | upper() %}
constant XCPT_CODE_{{ cname }} = {{ c.code }};
{%- endfor %}

// Keep compatibility for old code
{%- for c in exceptions %}
{%- set cname = c.name | replace(" ", "_") | upper() %}
constant CAUSE_{{ cname }} = XCPT_CODE_{{ cname }};
{%- endfor %}
