{#- Require structure like:

```json
{
  exceptions: [
    { name: "illegal instruction", code: 2 }
  ]
}
```

#}
{%- for c in exceptions %}
{%- set cname = c.name | replace(" ", "_") | upper() %}

let CAUSE_{{ cname }}: integer = {{ c.code }};

{%- endfor %}
