{#- Require structure input like:

```json
{
  "csr_metadata": [
    {
      "name": "csrname",
      "bin_addr": "001100000001",
      "read_write": True
    }
  ]
}
```

This file will include following path:

    model/csr/{{ filename }}.asl

#}

// --------------
// CSR Dispatcher
// --------------
func ReadCSR(csr : bits(12)) => Result
begin
    case csr of
        {%- for data in csr_metadata %}

        when '{{ data.bin_addr }}' =>
            return Read_{{ data.name | upper() }}();

        {%- endfor %}

        otherwise =>
            return IllegalInstruction();
    end
end

func WriteCSR(csr : bits(12), value : bits(32)) => Result
begin
    case csr of
        {%- for data in csr_metadata %}
        {%- if data.read_write %}

        when '{{ data.bin_addr }}' =>
            return Write_{{ data.name | upper() }}(value);
        {%- endif %}
        {%- endfor %}

        otherwise =>
            return IllegalInstruction();
    end
end
