{#- Require structure input like:

```yaml
metadata:
  - csr: "vxsat"
    mode: "urw"
    id: 0x009
    tag: "vector"
```
#}

// --------------
// CSR Dispatcher
// --------------
func ReadCSR(csr : bits(12)) => CsrReadResult
begin
    case csr of
        {%- for data in metadata %}

        when '{{ "{:012b}".format(data.id) }}' =>
            return Read_{{ data.csr | upper() }}();

        {%- endfor %}

        otherwise =>
            return CsrReadIllegalInstruction();
    end
end

func WriteCSR(csr : bits(12), value : bits(32)) => Result
begin
    case csr of
        {%- for data in metadata %}
        {%- if data.mode is endingwith "rw" %}

        when '{{ "{:012b}".format(data.id) }}' =>
            return Write_{{ data.csr | upper() }}(value);
        {%- endif %}
        {%- endfor %}

        otherwise =>
            return IllegalInstruction();
    end
end

// exported debugger asscessor
func ASL_read_CSR(csr: bits(12)) => bits(32)
begin
    case csr of
        {%- for data in metadata %}

        when '{{ "{:012b}".format(data.id) }}' =>
            return GetRaw_{{ data.csr | upper() }}();
        {%- endfor %}

        otherwise => begin
            FFI_debug_unsupported_csr(csr);
            Unreachable();
        end
    end
end


{% for data in metadata -%}
constant CSR_{{ data.csr | upper() }}: bits(12) = '{{ "{:012b}".format(data.id) }}';
{% endfor %}
