{% for inst_name in unimpl_inst %}
func Execute_{{ inst_name | upper() }}(instruction: bits(32)) => Result
begin
  FFI_debug_unimpl_insn("{{inst_name}}", instruction);

  return IllegalInstruction();
end
{% endfor %}

{% for inst_name in unimpl_cinst %}
func Execute_{{ inst_name | upper() }}(instruction: bits(16)) => Result
begin
  FFI_debug_unimpl_insn_c("{{inst_name}}", instruction);

  return IllegalInstruction();
end
{% endfor %}
