{#- Require inputs like following structure:
    See inst_execution.asl.j2
#}

// --------------------------
// Unimplemented Instructions
// --------------------------

// ----------------------
// Instruction Dispatcher
// ----------------------
func DecodeAndExecute(instruction : bits(32)) => Result
begin
    case instruction of
        {%- for inst in (instructions | rejectattr("instruction_set", "in", ["rv_c", "rv32_c", "rv32_c_f"])) %}
        {%- set inst_name = inst.name | replace(".", "_") | upper() %}

        when '{{ inst.bit_pattern }}' =>
            return Execute_{{ inst_name }}(instruction);

        {%- endfor %}
        otherwise =>
            return Exception(CAUSE_ILLEGAL_INSTRUCTION, instruction);
    end
end

func DecodeAndExecute_CEXT(instruction : bits(16)) => Result
begin
    case instruction of
        {%- for inst in (instructions | selectattr("instruction_set", "in", ["rv_c", "rv32_c", "rv32_c_f"])) %}
        {%- set inst_name = inst.name | replace(".", "_") | upper() %}

        when '{{ inst.bit_pattern }}' =>
            return Execute_{{ inst_name }}(instruction);

        {%- endfor %}
        otherwise =>
            return Exception(CAUSE_ILLEGAL_INSTRUCTION, instruction);
    end
end
