{#- Require inputs like following structure:
```json
{
  "inst_encoding": [
    {
      "name": "addi",
      "encoding": "-----------------000-----0010011",
      "extension": "rv_c"
    },
    ...
  ],
  "cinst_encoding": [
    {
      "name": "c.addi",
      "encoding": "000-----------01",
      "extension": "rv_c"
    },
    ...
  ]
}
```
#}

// ----------------------
// Instruction Dispatcher
// ----------------------
func DecodeAndExecute(instruction : bits(32)) => Result
begin
  case instruction of
    {%- for inst in inst_encoding %}
    {%- set inst_name = inst.name | replace(".", "_") | upper() %}

    when '{{ inst.encoding | replace("-", "x") }}' =>
      return Execute_{{ inst_name }}(instruction);

    {%- endfor %}
    otherwise =>
      return IllegalInstruction();
  end
end

func DecodeAndExecute_CEXT(instruction : bits(16)) => Result
begin
  case instruction of
    {%- for inst in cinst_encoding %}
    {%- set inst_name = inst.name | replace(".", "_") | upper() %}

    when '{{ inst.encoding | replace("-", "x") }}' =>
      return Execute_{{ inst_name }}(instruction);

    {%- endfor %}
    otherwise =>
      return IllegalInstruction();
  end
end
