{% for inst_name in unimpl_inst %}
func Execute_{{ inst_name | upper() }}(instruction: bits(32)) => Result
begin
  FFI_print_str("===============================");
  FFI_print_str("unimplemented instruction met: ");
  FFI_print_bits_hex(instruction);
  FFI_print_str("===============================");

  return IllegalInstruction();
end
{% endfor %}

{% for inst_name in unimpl_cinst %}
func Execute_{{ inst_name | upper() }}(instruction: bits(16)) => Result
begin
  FFI_print_str("===============================");
  FFI_print_str("unimplemented instruction met: ");
  FFI_print_bits_hex(instruction);
  FFI_print_str("===============================");

  return IllegalInstruction();
end
{% endfor %}
