{% if template == "vop_vv" %}
  {% include "extensions/rv_v/vop_vv.asl.j2" %}
{% elif template == "vop_vx" %}
  {% include "extensions/rv_v/vop_vx.asl.j2" %}
{% elif template == "vop_vv_no_sew64" %}
  {# TODO: current we support sew=32 only #}
  {% include "extensions/rv_v/vop_vv.asl.j2" %}
{% elif template == "vop_vx_no_sew64" %}
  {# TODO: current we support sew=32 only #}
  {% include "extensions/rv_v/vop_vx.asl.j2" %}
{% elif template == "vop_vi" %}
  {% include "extensions/rv_v/vop_vi.asl.j2" %}
{% elif template == "vop_vi_uimm" %}
  {% include "extensions/rv_v/vop_vi_uimm.asl.j2" %}
{% elif template == "vwop_vv" %}
  {% include "extensions/rv_v/vwop_vv.asl.j2" %}
{% elif template == "vwop_vx" %}
  {% include "extensions/rv_v/vwop_vx.asl.j2" %}
{% elif template == "vwop_wv" %}
  {% include "extensions/rv_v/vwop_wv.asl.j2" %}
{% elif template == "vwop_wx" %}
  {% include "extensions/rv_v/vwop_wx.asl.j2" %}
{% elif template == "vnop_wv" %}
  {% include "extensions/rv_v/vnop_wv.asl.j2" %}
{% elif template == "vnop_wx" %}
  {% include "extensions/rv_v/vnop_wx.asl.j2" %}
{% elif template == "vnop_wi_uimm" %}
  {% include "extensions/rv_v/vnop_wi_uimm.asl.j2" %}
{% elif template == "vmop_mm" %}
  {% include "extensions/rv_v/vmop_mm.asl.j2" %}
{% elif template == "vmsop_vv" %}
  {% include "extensions/rv_v/vmsop_vv.asl.j2" %}
{% elif template == "vmsop_vx" %}
  {% include "extensions/rv_v/vmsop_vx.asl.j2" %}
{% elif template == "vmsop_vi" %}
  {% include "extensions/rv_v/vmsop_vi.asl.j2" %}
{% elif template == "vmacop_vv" %}
  {% include "extensions/rv_v/vmacop_vv.asl.j2" %}
{% elif template == "vmacop_vx" %}
  {% include "extensions/rv_v/vmacop_vx.asl.j2" %}
{% elif template == "vwmacop_vv" %}
  {% include "extensions/rv_v/vwmacop_vv.asl.j2" %}
{% elif template == "vwmacop_vx" %}
  {% include "extensions/rv_v/vwmacop_vx.asl.j2" %}
{% elif template == "vaop_vv" %}
  {% include "extensions/rv_v/vaop_vv.asl.j2" %}
{% elif template == "vaop_vx" %}
  {% include "extensions/rv_v/vaop_vx.asl.j2" %}
{% elif template == "vle_v" %}
  {% include "extensions/rv_v/vle_v.asl.j2" %}
{% elif template == "vlse_v" %}
  {% include "extensions/rv_v/vlse_v.asl.j2" %}
{% elif template == "vloxei_v" %}
  {% include "extensions/rv_v/vloxei_v.asl.j2" %}
{% elif template == "vluxei_v" %}
  {% include "extensions/rv_v/vluxei_v.asl.j2" %}
{% elif template == "vlre_v" %}
  {% include "extensions/rv_v/vlre_v.asl.j2" %}
{% elif template == "vse_v" %}
  {% include "extensions/rv_v/vse_v.asl.j2" %}
{% elif template == "vsse_v" %}
  {% include "extensions/rv_v/vsse_v.asl.j2" %}
{% elif template == "vsoxei_v" %}
  {% include "extensions/rv_v/vsoxei_v.asl.j2" %}
{% elif template == "vsuxei_v" %}
  {% include "extensions/rv_v/vsuxei_v.asl.j2" %}
{% elif template == "vsr_v" %}
  {% include "extensions/rv_v/vsr_v.asl.j2" %}
{% else %}
  {{ explicit_error_template_is_unknown }}
{% endif %}
