{% if template == "vop_vv" %}
  {% include "extensions/rv_v/vop_vv.asl.j2" %}
{% elif template == "vop_vx" %}
  {% include "extensions/rv_v/vop_vx.asl.j2" %}
{% elif template == "vop_vv_no_sew64" %}
  {# TODO: current we support sew=32 only #}
  {% include "extensions/rv_v/vop_vv.asl.j2" %}
{% elif template == "vop_vx_no_sew64" %}
  {# TODO: current we support sew=32 only #}
  {% include "extensions/rv_v/vop_vx.asl.j2" %}
{% elif template == "vop_vi" %}
  {% include "extensions/rv_v/vop_vi.asl.j2" %}
{% elif template == "vwop_vv" %}
  {% include "extensions/rv_v/vwop_vv.asl.j2" %}
{% elif template == "vwop_vx" %}
  {% include "extensions/rv_v/vwop_vx.asl.j2" %}
{% elif template == "vwop_wv" %}
  {% include "extensions/rv_v/vwop_wv.asl.j2" %}
{% elif template == "vwop_wx" %}
  {% include "extensions/rv_v/vwop_wx.asl.j2" %}
{% else %}
  {{ explicit_error_template_is_unknown }}
{% endif %}
