{%- macro arith_body(name, op) %}
  let rd  : XRegIdx = UInt(GetRD(instruction));
  let rs1 : XRegIdx = UInt(GetRS1(instruction));
  let rs2 : XRegIdx = UInt(GetRS2(instruction));

  let src1 : bits(XLEN) = X[rs1];
  let src2 : bits(XLEN) = X[rs2];

  let value : bits(XLEN) = {{op}}(src1, src2);

  X[rd] = value;

  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_ADD(instruction: bits(32)) => Result
begin
{{- arith_body("add", "riscv_add") -}}
end

func Execute_SUB(instruction: bits(32)) => Result
begin
{{- arith_body("sub", "riscv_sub") -}}
end

func Execute_AND(instruction: bits(32)) => Result
begin
{{- arith_body("and", "riscv_and") -}}
end

func Execute_OR(instruction: bits(32)) => Result
begin
{{- arith_body("or", "riscv_or") -}}
end

func Execute_XOR(instruction: bits(32)) => Result
begin
{{- arith_body("xor", "riscv_xor") -}}
end

func Execute_SLT(instruction: bits(32)) => Result
begin
{{- arith_body("slt", "riscv_slt_s") -}}
end

func Execute_SLTU(instruction: bits(32)) => Result
begin
{{- arith_body("sltu", "riscv_slt_u") -}}
end

func Execute_SLL(instruction: bits(32)) => Result
begin
{{- arith_body("sll", "riscv_sll_var") -}}
end

func Execute_SRL(instruction: bits(32)) => Result
begin
{{- arith_body("srl", "riscv_srl_var") -}}
end

func Execute_SRA(instruction: bits(32)) => Result
begin
{{- arith_body("sra", "riscv_sra_var") -}}
end

func Execute_MUL(instruction: bits(32)) => Result
begin
{{- arith_body("mul", "riscv_mul") -}}
end

func Execute_MULH(instruction: bits(32)) => Result
begin
{{- arith_body("mulh", "riscv_mulh_ss") -}}
end

func Execute_MULHU(instruction: bits(32)) => Result
begin
{{- arith_body("mulhu", "riscv_mulh_uu") -}}
end

func Execute_MULHSU(instruction: bits(32)) => Result
begin
{{- arith_body("mulhsu", "riscv_mulh_su") -}}
end

func Execute_DIV(instruction: bits(32)) => Result
begin
{{- arith_body("div", "riscv_div_s") -}}
end

func Execute_REM(instruction: bits(32)) => Result
begin
{{- arith_body("rem", "riscv_rem_s") -}}
end

func Execute_DIVU(instruction: bits(32)) => Result
begin
{{- arith_body("divu", "riscv_div_u") -}}
end

func Execute_REMU(instruction: bits(32)) => Result
begin
{{- arith_body("remu", "riscv_rem_u") -}}
end
