{%- macro arith_imm_instruction_body(name, compute) %}
  let rd : XRegIdx = UInt(GetRD(instruction));
  let rs1 : XRegIdx = UInt(GetRS1(instruction));
  let imm12 : bits(12) = GetIMM(instruction);

  let imm : bits(XLEN) = SignExtend(imm12, XLEN);

  let src1 : bits(XLEN) = X[rs1];

  let value : bits(XLEN) = {{ compute }};

  X[rd] = value;

  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_ADDI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("ADDI", "src1 + imm") -}}
end

func Execute_ANDI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("ANDI", "src1 AND imm") -}}
end

func Execute_ORI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("ORI", "src1 OR imm") -}}
end

func Execute_XORI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("XORI", "src1 XOR imm") -}}
end

func Execute_SLTI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("SLTI", "riscv_slt_s(src1, imm)") -}}
end

func Execute_SLTIU(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("SLTIU", "riscv_slt_u(src1, imm)") -}}
end
