{%- macro arith_imm_instruction_body(name, op) %}
  let rd : XRegIdx = UInt(GetRD(instruction));
  let rs1 : XRegIdx = UInt(GetRS1(instruction));
  let imm12 : bits(12) = GetIMM(instruction);

  let imm : bits(XLEN) = SignExtend(imm12, XLEN);

  let src1 : bits(XLEN) = X[rs1];

  let value : bits(XLEN) = {{op}}(src1, imm);

  X[rd] = value;

  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_ADDI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("addi", "riscv_add") -}}
end

func Execute_ANDI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("andi", "riscv_and") -}}
end

func Execute_ORI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("ori", "riscv_or") -}}
end

func Execute_XORI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("xori", "riscv_xor") -}}
end

func Execute_SLTI(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("slti", "riscv_slt_s") -}}
end

func Execute_SLTIU(instruction: bits(32)) => Result
begin
{{- arith_imm_instruction_body("sltiu", "riscv_slt_u") -}}
end
