{#-
  mew = 8 | 16 | 32 | 64
  extend = "SignExtend" | "ZeroExtend"
-#}
{%- macro load_body(name, mew, extend) %}
  let rd : XRegIdx  = UInt(GetRD(instruction));
  let rs1 : XRegIdx = UInt(GetRS1(instruction));
  let imm : bits(12) = GetIMM(instruction);

  let addr : bits(XLEN) = X[rs1] + SignExtend(imm, XLEN);

  let (data, result) = ReadMemory(addr, {{ mew }});
  if !result.is_ok then
    return result;
  end

  let value : bits(XLEN) = {{ extend }}(data, XLEN);

  X[rd] = value;

  PC = PC + 4;
  return Retired();
{% endmacro -%}

func Execute_LB(instruction: bits(32)) => Result
begin
{{- load_body("lb", 8, "SignExtend") -}}
end

func Execute_LH(instruction: bits(32)) => Result
begin
{{- load_body("lh", 16, "SignExtend") -}}
end

func Execute_LW(instruction: bits(32)) => Result
begin
{{- load_body("lw", 32, "SignExtend") -}}
end

func Execute_LBU(instruction: bits(32)) => Result
begin
{{- load_body("lbu", 8, "ZeroExtend") -}}
end

func Execute_LHU(instruction: bits(32)) => Result
begin
{{- load_body("lhu", 16, "ZeroExtend") -}}
end
