{%- macro shift_imm_body(name, op) %}
  let rd : XRegIdx = UInt(GetRD(instruction));
  let rs1 : XRegIdx = UInt(GetRS1(instruction));
  let shamt : bits(5) = GetShamt5(instruction);

  let src1 : bits(32) = X[rs1];

  X[rd] = {{op}}(src1, UInt(shamt));

  PC = PC + 4;

  return Retired();
{% endmacro -%}

func Execute_SLLI(instruction: bits(32)) => Result
begin
{{- shift_imm_body("slli", "riscv_sll") -}}
end

func Execute_SRLI(instruction: bits(32)) => Result
begin
{{- shift_imm_body("srli", "riscv_srl") -}}
end

func Execute_SRAI(instruction: bits(32)) => Result
begin
{{- shift_imm_body("srai", "riscv_sra") -}}
end
