elf_path_glob "/path/to/**/*.elf"

spike "--isa=rv32imc_zvl256b_zve32x_zifencei" \
    "--priv=m" "--log-commits" \
    "-m0x80000000:0x20000000,0x40000000:0x1000"

pokedex "--dts-cfg-path" "/path/to/config"

mmio_end_addr "0x40000004"
