name: VCS Test
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
env:
  USER: runner

# Cancel the current workflow when new commit pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  gen-test-plan:
    if: '! github.event.pull_request.draft'
    name: "Generate test plan"
    runs-on: [self-hosted, linux, nixos]
    outputs:
      testplan: ${{ steps.get-all-configs.outputs.out }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - id: "get-all-configs"
        run: echo "out=$(nix run .#ci-helper generateTestPlan)" > $GITHUB_OUTPUT

  build-emulators:
    name: "Build VCS Emulators"
    needs: [gen-test-plan]
    runs-on: [self-hosted, linux, nixos, BIGRAM]
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.gen-test-plan.outputs.testplan) }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: "Build vcs emulator"
        run: |
          nix build '.#t1.${{ matrix.config }}.ip.vcs-emu' --impure --no-link --cores 64
      - name: "Build all testcases"
        run: |
          nix build ".#t1.${{ matrix.config }}.ip.cases._all" --max-jobs auto --no-link --cores 64

  gen-matrix:
    name: "Prepare for running testcases"
    needs: [build-emulators]
    runs-on: [self-hosted, linux, nixos, BIGRAM]
    env:
      RUNNERS: 70
    outputs:
      ci-tests: ${{ steps.gen-matrix.outputs.matrix }}
    steps:
      # actions/checkout will use the "event" commit to checkout repository,
      # which will lead to an unexpected issue that the "event" commit doesn't belongs to the repository,
      # and causing the derivation build output cannot be cache correctly.
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - id: gen-matrix
        name: "Generate test matrix"
        run: |
          echo -n matrix= >> "$GITHUB_OUTPUT"
          nix run ".#ci-helper" -- generateCiMatrix --runnersAmount "$RUNNERS" >> "$GITHUB_OUTPUT"

  run-testcases:
    name: "Run VCS"
    needs: [gen-matrix]
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.gen-matrix.outputs.ci-tests) }}
    runs-on: [self-hosted, linux, nixos]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: "Run testcases"
        run: |
          nix run ".#ci-helper" -- runTests --jobs "${{ matrix.jobs }}" --testType "vcs"

  report:
    name: "Report VCS CI result"
    # Don't run report when:
    #   - user cancel ( we don't need report at this case )
    #   - PR from outside repository ( we don't have permission to push commit into fork repository )
    if: ${{ !cancelled() && github.event.pull_request.head.repo.full_name == github.repository }}
    needs: [run-testcases]
    runs-on: [self-hosted, linux, nixos]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - name: "Print step summary"
        run: |
          nix run ".#ci-helper" -- postCI \
            --cycle-update-file-path ./cycle-update.md \
            --failed-tests-file-path ./failed-tests.md \
            --emu-type vcs
          cat ./cycle-update.md >> $GITHUB_STEP_SUMMARY
          echo >> $GITHUB_STEP_SUMMARY
          cat ./failed-tests.md >> $GITHUB_STEP_SUMMARY
      - name: "Commit cycle updates"
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          changed_cases=$(git diff --name-only '.github/**/default.json')

          if [ -n "$changed_cases" ]; then
            echo "changed cases: $changed_cases"
            git add '.github/**/default.json'
            git commit -m "[ci] update t1 test case cycle data"
            git push origin ${{ github.head_ref }}
          else
            echo "No cycle change detect"
          fi
